.git
.gitignore
README.md
.env.local
.env.test
.env.prod
docker-compose.yml
docker-compose.override.yml
compose.yaml
compose.override.yaml
Dockerfile
.dockerignore
var/cache/*
var/log/*
vendor/*
node_modules/*
npm-debug.log
yarn-error.log
.idea
.vscode
*.swp
*.swo
*~ 